<div class="row">
  <% @companies.each do |company| %>
    <div class="large-4 columns">
      <div class="company-block">
        <div class="standalone-tweet">
          <h3><small><%= company.name %></small></h3>
          <h4><small><%= number_to_currency(company.funding_requirement.desired_amount) %></small></h4>
          <h4><small><%= number_to_currency(company.sum_fundings)%></small></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>