
<div class="container">
  <div class='row'>
    <iframe width="560" height="315" src="//www.youtube.com/embed/DTqG35ko3wg" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="row">
  <%= image_tag "loading.gif", :id => 'twitter_loading', :alt => "Loading", :style => "display: none" %>


    <div class="span9" id='tweets_container'>

    </div>
  </div>
</div>
