<div class='row'>
  <div class='large-7 columns'>
    <%= render partial: 'video' %>
  </div>
  <div class='large-5 columns'>
    <%= render partial: 'scorecards' %>
  </div>
  


  <div class="row">
    <%= render partial: 'tweets' %>
    <%= render partial: 'fund' %>
  </div>
</div>
