
    Real Deal
      <% @tags.each do |res| %>
        <div style="display: block; max-width: 99%; min-width: 220px; padding: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; margin: 10px 0px; border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); border-width: 1px; border-style: solid; box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px; position: static; visibility: visible;">
          <div class="standalone-tweet">
            <p>
              <%= image_tag res.attrs[:user][:profile_image_url] %>
              <%= link_to res.attrs[:user][:screen_name],"https://twitter.com/#{res.attrs[:user][:screen_name]}" %>
            </p>
            <!-- %p= res.attrs[:user]
            -->
            <p>
              <%= res.attrs[:text] %>
            </p>
          </div>
        </div>
      <% end %>

