<h1>Listing companies</h1>
<div class="push-10 columns">
  <%= link_to "Create Company", new_company_path, class: "button" %>
</div>

<%= render partial: 'company_item', collection: @companies, as: :company %>


