
$('#alert').html('<div id="message" data-alert class="alert-box success radius">Thank you for funding innovation.</div>');
$('#funding_amount').val('');
$('#funding_percentage').val('');
$('#funding_company')[0].selectedIndex = 0;

$('#ajax').html("<%= escape_javascript(render(:partial => 'welcome/scorecards')).html_safe %>");