/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

a.button {
  color: #fff !important;
}

p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #111;
  line-height: 1.5;
}

h1 {
  font-family: Georgia,serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.313;
}

.item {
  overflow: hidden;
  clear: both;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  background: white;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  
  line-height: 1.1;
}

.standalone-tweet {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 8px 8px 0;
}

.standalone-tweet .subject {
    margin-top: 4px;
}

.twitter-block {
  display: block; 
  max-width: 99%; 
  min-width: 220px; 
  padding: 0px; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius: 5px; 
  margin: 10px 0px; 
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); 
  border-width: 1px; 
  border-style: solid; 
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px; 
  position: static; 
  visibility: visible;  
}
