<!-- Header and Nav -->
  
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <% if current_user %>
          <li><%= link_to "Welcome, #{current_user.email} (signout)", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="#">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->