<!-- Header and Nav -->
  
  <div class="row">
    <div class="large-3 columns">
      
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <% if current_user %>
          <li><%= link_to "Welcome, #{current_user.email} (signout)", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->